{% extends "base.html" %}
{% load static settings_value %}

{% block main %}

<section class="colorbg">
</section>

{% include 'snippets/waves/wave-top.html' %}

<section class="lightbg">
    <div class="container">
        <h2>Our Insights About Influencer Stories</h2>
        <p>
            Through our analysis of 27,000 TikTok videos and our focus groups and interviews with 93 young people we identified five key insights, shared by the member of our Young People’s Advisory group.
        </p>
        <p>
            Some stories from influencers about their experiences can provide hope and reassurance, especially if they are authentic, relatable and give practical advice.
        </p>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/FaHA6FzuumI" title="Stories about personal experience of mental health can provide hope and reassurance." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p>
            Each person’s experience of mental health varies, so sometimes recovery videos are not helpful. Our young people told us that Eating Disorder content could sometimes make them feel worse.
        </p>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/GnHDy_9pi0E" title="Stories about personal experience of mental health can provide hope and reassurance." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p>
            Health professionals provide information about mental health issues, such as symptoms and treatment. These videos can help you decide whether or not you might need further support but also lead to self-diagnosis.
        </p>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/rUqMirz_zvM" title="Stories about personal experience of mental health can provide hope and reassurance." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p>
            Wellness influencers often recommend supplements to treat mental health issues like anxiety. Often their claims sound scientific but lack reliable evidence. The mental health professionals in our research found some of these claims dangerous.
        </p>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/JCPN-7WLSAY" title="Stories about personal experience of mental health can provide hope and reassurance." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p>
            Our TikTok data was gathered from 100 influencers, but only 10 were from men. The young men in our research said there was a lack of engaging content that would appeal to them and that it was still difficult for some young men to talk about their mental health.
        </p>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/3JGUvn0jUOg" title="Stories about personal experience of mental health can provide hope and reassurance." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</section>

{% include 'snippets/waves/wave2.html' %}

<section class="colorbg">
</section>

{% endblock %}