{% extends "base.html" %}
{% load static settings_value %}

{% block main %}

<section id="welcome-banner">
    <div id="welcome-banner-title">
        Influencer Stories of
        <br>
        Mental Health and Young People
    </div>
</section>

{% include 'snippets/waves/wave1.html' %}

<section class="lightbg">
    <div class="container">
        <h2>Welcome!</h2>
        <p>
            Influencer Stories of Mental Health and Young People was a two-year research project funded by the ESRC which explored how stories told by social media influencers can help young people or put them at risk as they respond to challenges in mental health. In the project, we
        </p>
        <ul>
            <li>analysed the mental health content shared on TikTok by social media influencers</li>
            <li>investigated the impact of this content on young people</li>
            <li>developed a range of evidence-led strategies for responding to the mental health communication provided by influencers.</li>
        </ul>
        <p>
            On this website, you can:
        </p>
        <ul>
            <li>Find out more about our research and our research team</li>
            <li>Listen to the key insights from our research, shared by members of our young people’s advisory group</li>
            <li>Access academic papers produced from the project.</li>
            <li>Make use of the free resources we developed for policy makers and educators.</li>
            <li>Browse our Story Collector archive, where young people shared stories and tips about positive mental health and wellbeing.</li>
            <li>Find out more about the connections between mental health and fitness by listening to the content created by leading Clinician Creators in conversation with Sports Coaches from the University of Birmingham.</li>
        </ul>
        <p>
            We hope you find our materials useful.
        </p>
    </div>
</section>

{% include 'snippets/waves/wave2.html' %}

<section class="colorbg">
</section>

{% endblock %}