@media (max-width: 991px) {
    /* ---------- General ---------- */

    h1 {
        font-size: 1em;
    }

    table,
    tbody,
    tr,
    td,
    td.align-right {
        display: block;
        border: none;
        text-align: left;
        width: 100%;
    }

    thead {
        display: none;
    }

    tr {
        margin: 2em 0;
        border: 1px solid #AAA;
        padding: 1em;
    }

    table label {
        display: inline-block;
        font-weight: bold;
    }

    table label::after {
        content: ': ';
    }

    /* ---------- Navigation ---------- */

    nav.navbar {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        padding: 0 0.5em;
        margin: 0;
        border-radius: 0;
    }

    .nav-item {
        margin-top: 1em;
    }

    .nav-item:last-of-type {
        margin-bottom: 1em;
    }

    .navbar-toggler {
        color: var(--color-primary);
        font-size: 1.7em;
        padding-right: 0.35em;
    }

    /* ---------- Main ---------- */

    main {
        min-height: calc(100vh - 3.3rem);
        padding-top: 5em;
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        min-height: 100vh;
        padding: 1rem;
    }

    #welcome-banner-title {
        font-size: 3em;
        margin: 7vh auto 1em auto;
    }

    /* ---------- Footer ---------- */

    #footer-content-logos img {
        display: block;
        height: 4.5em;
        margin: 1em auto;
    }

}
